## 310-geth-configmap.yml
apiVersion: v1
kind: ConfigMap
metadata:
  name: block-explorer-config
  labels:
    app: block-explorer
data:
  VITE_APP_ENVIRONMENT: dev
  LOG_LEVEL: verbose
  BATCHES_PROCESSING_POLLING_INTERVAL: "1000"
  API_PORT: "3020"
  APP_PORT: "3010"
  WORKER_PORT: "3001"
  DATA_FETCHER_PORT: "3040"
  METRICS_PORT: "3005"
  ETH_TOKEN_SYMBOL: REVO
  ETH_TOKEN_NAME: Revolution
  ETH_TOKEN_DECIMALS: "18"
  ETH_TOKEN_L2_ADDRESS: "0x000000000000000000000000000000000000800a"
  BASE_TOKEN_L1_ADDRESS: "0x2c81f8b274d6096bbd99a6e133e2dec3731af114"
  BASE_TOKEN_SYMBOL: tREVO
  BASE_TOKEN_NAME: Revolution
  BASE_TOKEN_DECIMALS: "18"

  BLOCKCHAIN_RPC_URL: http://server-v2.dev.svc.cluster.local
  DATA_FETCHER_URL: http://127.0.0.1:3040
  worker.env: |-
    PORT=3001
    DATABASE_HOST=172.232.2.9:31079
    DATABASE_USER=dev
    DATABASE_PASSWORD=pass
    DATABASE_NAME=block-explorer-dev
    DATABASE_CONNECTION_IDLE_TIMEOUT_MS=12000
    DATABASE_CONNECTION_POOL_SIZE=10
    BLOCKCHAIN_RPC_URL=https://dev.revolutionchain.io/
    DATA_FETCHER_URL=http://127.0.0.1:3040
    DATA_FETCHER_REQUEST_TIMEOUT=150000
    WAIT_FOR_BLOCKS_INTERVAL=1000
    BLOCKS_PROCESSING_BATCH_SIZE=10
    NUMBER_OF_BLOCKS_PER_DB_TRANSACTION=10
    BATCHES_PROCESSING_POLLING_INTERVAL=60000
    DELETE_BALANCES_INTERVAL=300000
    RPC_CALLS_DEFAULT_RETRY_TIMEOUT=30000
    RPC_CALLS_QUICK_RETRY_TIMEOUT=500
    RPC_CALLS_CONNECTION_TIMEOUT=20000
    RPC_CALLS_CONNECTION_QUICK_TIMEOUT=10000
    RPC_BATCH_MAX_COUNT=10
    RPC_BATCH_MAX_SIZE_BYTES=1048576
    RPC_BATCH_STALL_TIME_MS=0
    COLLECT_DB_CONNECTION_POOL_METRICS_INTERVAL=10000
    COLLECT_BLOCKS_TO_PROCESS_METRIC_INTERVAL=10000
    RPC_HEALTH_CHECK_TIMEOUT_MS=20000
    DB_HEALTH_CHECK_TIMEOUT_MS=20000
    DISABLE_MISSING_BLOCKS_METRIC=false
    CHECK_MISSING_BLOCKS_METRIC_INTERVAL=86400000
    DISABLE_BATCHES_PROCESSING=false
    DISABLE_COUNTERS_PROCESSING=false
    DISABLE_OLD_BALANCES_CLEANER=false
    DISABLE_BLOCKS_REVERT=false
    ENABLE_TOKEN_OFFCHAIN_DATA_SAVER=false
    UPDATE_TOKEN_OFFCHAIN_DATA_INTERVAL=86400000
    SELECTED_TOKEN_OFFCHAIN_DATA_PROVIDER=coingecko
    BASE_TOKEN_SYMBOL=REVO
    BASE_TOKEN_DECIMALS=18
    BASE_TOKEN_L1_ADDRESS=0x8b84f028f6374a73b999bf6199f9241a0b3f927c
    BASE_TOKEN_ICON_URL=https://assets.coingecko.com/coins/images/279/large/ethereum.png?1698873266
    BASE_TOKEN_NAME=Revo
    FROM_BLOCK=0
    TO_BLOCK=
    COINGECKO_IS_PRO_PLAN=false
    COINGECKO_API_KEY=

  api.env: |-
    GRACEFUL_SHUTDOWN_TIMEOUT_MS=0
    DATABASE_REPLICA_URL_0=
    DATABASE_CONNECTION_POOL_SIZE=10
    DATABASE_CONNECTION_IDLE_TIMEOUT_MS=12000
    METRICS_PORT=3005
    COLLECT_DB_CONNECTION_POOL_METRICS_INTERVAL=10000
    PORT=3020
    LOG_LEVEL=debug
    LIMITED_PAGINATION_MAX_ITEMS=10000
    API_LIMITED_PAGINATION_MAX_ITEMS=1000
    DISABLE_API_SCHEMA_DOCS=false
    DISABLE_BFF_API_SCHEMA_DOCS=false
    DISABLE_EXTERNAL_API=false
    DATABASE_STATEMENT_TIMEOUT_MS=90000
    CONTRACT_VERIFICATION_API_URL=https://contract-verifier-api.dev.revolutionchain.io
    NETWORK_NAME=testnet-sepolia

    BASE_TOKEN_SYMBOL=REVO
    BASE_TOKEN_DECIMALS=18
    BASE_TOKEN_L1_ADDRESS=0x8b84f028f6374a73b999bf6199f9241a0b3f927c
    BASE_TOKEN_ICON_URL=https://assets.coingecko.com/coins/images/279/large/ethereum.png?1698873266
    BASE_TOKEN_NAME=Revo
    BASE_TOKEN_LIQUIDITY=220000000000
    BASE_TOKEN_USDPRICE=1800

    ETH_TOKEN_SYMBOL=REVO
    ETH_TOKEN_DECIMALS=18
    ETH_TOKEN_L2_ADDRESS=0x000000000000000000000000000000000000800A
    ETH_TOKEN_ICON_URL=https://assets.coingecko.com/coins/images/279/large/ethereum.png?1698873266
    ETH_TOKEN_NAME=REVO
    ETH_TOKEN_LIQUIDITY=220000000000
    ETH_TOKEN_USDPRICE=1800

  data-fetcher.env: |-
    GRACEFUL_SHUTDOWN_TIMEOUT_MS: 0
    BLOCKCHAIN_RPC_URL: https://dev.revolutionchain.io/
    RPC_CALLS_DEFAULT_RETRY_TIMEOUT: 30000
    RPC_CALLS_QUICK_RETRY_TIMEOUT: 5000
    RPC_CALLS_RETRIES_MAX_TOTAL_TIMEOUT: 120000
    RPC_CALLS_CONNECTION_TIMEOUT: 60000
    RPC_CALLS_CONNECTION_QUICK_TIMEOUT: 10000
    RPC_BATCH_MAX_COUNT: 10
    RPC_BATCH_MAX_SIZE_BYTES: 1048576
    RPC_BATCH_STALL_TIME_MS: 0
    MAX_BLOCKS_BATCH_SIZE: 20
    RPC_HEALTH_CHECK_TIMEOUT_MS: 20_000

  ## This currently doesn't work. The config file comes from image building stage
  dev.config.json: |-
    {
      "networks": [
        {
          "apiUrl": "https://api.dev.revoscan.io",
          "verificationApiUrl": "https://contract-verifier-api.dev.revolutionchain.io",
          "bridgeUrl": "http://dev.revoscan.io:3000/bridge/?network=sepolia",
          "hostnames": [
          ],
          "icon": "/images/icons/revo.svg",
          "l1ExplorerUrl": "https://sepolia.etherscan.io",
          "l2ChainId": 73681,
          "l2NetworkName": "dev",
          "maintenance": false,
          "name": "revolution",
          "published": true,
          "rpcUrl": "https://dev.revolutionchain.io",
          "baseTokenAddress": "0x2c81f8b274d6096bbd99a6e133e2dec3731af114"
        }
      ]
    }

  nginx.conf: |-
    server {
        listen 80;
        listen 3010;
        root /usr/share/nginx/html;
        index index.html;

        # This one line fixes everything
        location / {
            try_files $uri $uri/ /index.html;
        }

        # Cache assets
        location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg|woff2?|ttf|eot|wasm)$ {
            expires 1y;
            add_header Cache-Control "public, immutable";
        }
    }

