---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: block-explorer-api
  labels:
    app.kubernetes.io/name: block-explorer-api
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    ingress.kubernetes.io/ssl-redirect: "false"
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/cors-allow-origin: '*'
    nginx.ingress.kubernetes.io/enable-cors: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/limit-rpm: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: 20m
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "120"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "7200"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "7200"
spec:
  tls:
    - hosts:
        - "api.dev.revoscan.io"
      secretName: revoscan-api-dev-tls
  rules:
    - host: "api.dev.revoscan.io"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: block-explorer-api
                port:
                  number: 3020